<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thực hành An toàn thông tin nâng cao</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" alt="hutech" style="display: block; margin-left: auto; margin-right: auto; width: 30%;" />
      <h4 style="font-weight: bold; text-align: center;">BÀI THỰC HÀNH BUỔI THỨ 6 - MÔN HỌC : THBMTTNC</h4>
      <h4 style="font-weight: bold; text-align: center;">2280602076 - Nguyễn Văn Nghĩa GG!</h4>
      <ul style="margin-top: 30px;">
        <li>
          <form method="POST" action="/launch/caesar">
            <button class="btn btn-link">Caesar Cipher</button>
          </form>
        </li>
        <li>
          <form method="POST" action="/launch/playfair">
            <button class="btn btn-link">Playfair Cipher</button>
          </form>
        </li>
        <li>
          <form method="POST" action="/launch/railfence">
            <button class="btn btn-link">Rail Fence Cipher</button>
          </form>
        </li>
        <li>
          <form method="POST" action="/launch/vigenere">
            <button class="btn btn-link">Vigenere Cipher</button>
          </form>
        </li>
      </ul>
    </div>
  </body>
</html>
